// Put your custom themes here.
// Don't forget to also put your theme name into the config
// E.g: appConfig: cssThemes: [ 'my-theme' ]

// Example theme:
// html[data-theme='my-theme'] {
//   --primary: #00CCB4;
//   --background: #141b33;
//   --background-darker: #060913;
// }

// For more info, see: https://github.com/khulnaSoft/shipyard/blob/master/docs/theming.md
